<head>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
  <ul>
    <li><a href="/people/naive">Naive <code>QuerySet.all()</code></a></li>
    <li><a href="/people/select_related">Using <code>QuerySet.select_related()</code></a></li>
    <li><a href="/people/qs_only">Using <code>QuerySet.only()</code></a></li>
    <li><a href="/people/select_related_only">Using <code>QuerySet.select_related()</code> <i>and</i> <code>QuerySet.only()</code></a></li>
    <li><a href="/people/values">Using <code>QuerySet.values()</code></a></li>
  </ul>
</body>
