<head>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
  <h1>{{title|safe}}</h1>
  <p><pre><code>{{func_source|linebreaks}}</code></pre></p>
  <table>
    <thead>
      <th>Name</th>
      <th>Observatory</th>
      <th>Site</th>
    </thead>
    {% for name, site, observatory in people %}
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>{{observatory}}</td>
          <td>{{site}}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
</body>
